@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-commit-mono);
  --font-dancing: var(--font-dancing-script);
  --font-jacquard: var(--font-jacquarda-bastarda);
  --font-vt: var(--font-vt-323);
  --font-yellowtail: var(--font-yellowtail);
  --font-ubuntu: var(--font-ubuntu-mono);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-ping-slow: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 4%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 0 0% 15.7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15.7;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .noise {
    width: 100%;
    height: 100%;
    filter: contrast(100%) brightness(100%);
    background: radial-gradient(
        circle at 50% 50%,
        rgba(9, 9, 11, 1),
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(270deg, rgba(9, 9, 11, 1), rgba(255, 255, 0, 0)),
      linear-gradient(80deg, rgba(9, 9, 11, 1), rgba(255, 255, 255, 0)),
      url(./images/noise.svg);
  }

  .fnoise {
    width: 100%;
    height: 100%;
    filter: contrast(100%) brightness(100%);
    background: radial-gradient(
        circle at 50% 50%,
        rgba(9, 9, 11, 1),
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(30deg, rgba(9, 9, 11, 1), rgba(255, 255, 0, 0)),
      linear-gradient(190deg, rgba(9, 9, 11, 1), rgba(255, 255, 255, 0)),
      url(./images/noise.svg);
  }

  .background {
    width: 100%;
    height: 100%;
    filter: contrast(150%) brightness(100%);
    background: radial-gradient(
        circle at 50% 50%,
        rgba(40, 40, 40, 1),
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(40deg, rgba(40, 40, 40, 1), rgba(255, 255, 255, 0)),
      linear-gradient(220deg, rgba(60, 56, 54, 1), rgba(255, 255, 0, 0)),
      url(./images/noise.svg);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
